@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.time {
  font-size: 200px;
  color: white;
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

body {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  color: white;
  background: #222;
}
